<footer class="colored-section" id="footer">
  <div class="container-fluid fotter-item">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <h6>Resources</h6>
        <hr>
        <p>Lorem ipsum dolor sit amet, Integer at vehicula massa. Vivamus cursus tortor sed tellus luctus laoreet. Integer sit amet tortor fringilla, mattis
          Aenean vitae lacinia nunc, non vehicula odio.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <h6>Suppot</h6>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mi metus, auctor eu bibendum et, varius vel elit. Morbi fringilla libero a elit vestibulum venenatis.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <h6>FAQ</h6>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mi metus non vehicula odio.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <h6>Social</h6>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mi metus, auctor eu bibendum et, varius vel elit. Integer at vehicula massa. Vivamus cursus tortor sed tellus luctus laoreet. Integer sit amet tortor fringilla, mattis
          lectus a, dictum lacus.</p>
      </div>
    </div>
    <hr>
  </div>
  <div class="container fluid">
    <i class="footer-icon fab fa-twitter"></i>
    <i class="footer-icon fab fa-facebook-f"></i>
    <i class="footer-icon fab fa-instagram"></i>
    <i class="footer-icon fas fa-envelope"></i>

    <p class="fotter-icon">© Copyright 2020 GRC's Developers Club</p>
  </div>
</footer>


</body>

</html>
