</div>
<footer class="colored-section" id="footer">
    <div class="container-fluid footer-item">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h6>Resources</h6>
                <hr>
                <p>We have resources for your learning needs at your disposal, register at our portal and get the benifits of high quality PDF Formatted Notes, Books and more.</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h6>Support</h6>
                <hr>
                <p>Get Support for any query by contacting us on our social media portals or by email by clicking <a href="mailto:grcsdevelopersclub@gmail.com" target="_blank">Here!</a> </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h6>FAQ</h6>
                <hr>
                <p>A List of FAQs is available <a href="/FAQs" target="_blank">Here!</a></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h6>Social</h6>
                <hr>
                <p>Follow us on Mostly any SNSs</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container-fluid">
        <i class="footer-icon fab fa-twitter"></i>
        <i class="footer-icon fab fa-facebook-f"></i>
        <i class="footer-icon fab fa-instagram"></i>
        <a href="mailto:grcsdevelopersclub@gmail.com" target="_blank"><i class="footer-icon fas fa-envelope"></i></a>
        <p class="footer-icon">© Copyright 2020 GRC's Developers Club</p>
    </div>
</footer>
</body>
<script src="/Preloader/preloader.js"></script>

</html>
