

<%- include("header") -%>

      <div class="row">
        
        <div class="col-sm-4">
            <div class="card social-block">
              <div class="card-body">
                <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                  <i class="fab fa-google"></i>
                  Sign Up with Google
                </a>
              </div>
            </div>
            <div class="card social-block">
              <div class="card-body">
                <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
                  <i class="fab fa-facebook"></i>
                  Sign Up with Facebook
                </a>
              </div>
            </div>  
          </div>
      
        <div class="col-lg-4">
          <section class="white-section">
            <div class="card login-card">
              <div class="card-header">
                <h5 class="register-login-heading">Sign In</h5>
              </div>
              <div class="card-body ">
                <form action="/login" method="POST">
                  <div class="form-group">
                    <!-- <label for="email-input">Email address</label> -->
                    <input type="email" name="username" class="form-control input-form" id="email-input" aria-describedby="emailHelp" placeholder="Email Address">
                    <small id="emailHelp" class="form-text text-muted email-share">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <!-- <label for="password-input">Password</label> -->
                    <input type="password" name="password" class="form-control input-form" id="password-input" placeholder="Password">

                  </div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block active">Login</button>
                  <p class="not-member input-form">Not a member ? <a href="/register">Create Account</a> </p>
                </form>

              </div>
          </section>
        </div>
      </div>
    </div>
 
  </section>

  <%- include("footer") -%>