<%- include("header")-%> <% if(files.length===0){ %>
<img class="notFoundImage" src="/Images/unitNotFound.png" alt="Not Found" />

<% } %> 


  <div class="row">
    <% files.forEach((file)=>{ %>
    <div class="col-lg-3 col-sm-6 mx-auto">
      <div id="material-card" class="resource-card">
        <div class="card-body">
          <h5 class="card-title"><%=file.displayName%></h5>
      
          <% if(file.fileName.substr(-4) === ".PDF" || file.fileName.substr(-4) ===".pdf"){%>
          <i
            class="fa fa-file-pdf-o card-img-top"
            aria-hidden="true"
            style="font-size: 150px; color: red"
          ></i>
          <% } else if (file.fileName.substr(-4) === ".JPG" || file.fileName.substr(-4) === ".jpeg" || file.fileName.substr(-4) === ".png"||file.fileName.substr(-4) === ".jpg") { %>
          <i
            class="far fa-file-image card-img-top"
            aria-hidden="true"
            style="font-size: 150px; color: red"
          ></i>
          <% }%>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
      
          <a href="/files/<%=file.fileName%>" class="btn btn-danger" download>Download</a>
        </div>
      </div>
    </div>
    <% }) %> 
  </div>


<%- include("footer") -%>
