<%- include("header") -%>
<div class="view">
<div class="row">
  <div class="col-lg-8 title-heading">
    <h1 class="big-heading">We Develope your Imaginations.</h1>
    <p>To get access to all our products and curriculum materials you have to register.</p>
  </div>

  <div class="col-lg-4">

    <section class="white-section">
      <div class="card login-card">
        <div class="card-header">
          <h5 class="register-login-heading">Register</h5>
        </div>
        <div class="card-body">
          <p class="not-member input-form">Already a member ? <a href="/login">Log In</a> </p>
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
         
          <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
            <i class="fab fa-facebook"></i>
            Sign Up with Facebook
          </a>

        </div>
    </section>
  </div>




  <div class="card-footer">

  </div>
</div>
</div>

<%- include("footer") -%>

