<%- include("header")-%>

<h2>We Develope your Imaginations.</h2>
<p>All the materials you want are right here.</p>

<section class="white section">
<div class = "row">
  <div class="pricing-col col-lg-6 mx-auto">
    <div class="card">
      <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->
      <div class="card-header">
        <h3>FIRST YEAR</h3>
      </div>
      <div class="card-body">
        <div class="card-deck text-center">
          <div class="card">
            <div class="card-header">
              <h3>Semester-I</h3>
            </div>
            <div class="card-body">
              <ul>
                <a href = "https://www.google.com"><li>Mathematics</li></a>
                <a href = "https://www.google.com"><li>Mathematics</li></a>
                <a href = "https://www.google.com"><li>Mathematics</li></a>
                <a href = "https://www.google.com"><li>Mathematics</li></a>
                <a href = "https://www.google.com"><li>Mathematics</li></a>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3>Semester-II</h3>
            </div>
            <div class="card-body">
              <ul>
                <a href = "https://www.google.com"><li>Mathematics</li></a>
                <a href = "https://www.google.com"><li>Mathematics</li></a>
                <a href = "https://www.google.com"><li>Mathematics</li></a>
                <a href = "https://www.google.com"><li>Mathematics</li></a>
                <a href = "https://www.google.com"><li>Mathematics</li></a>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row ">
  <div class="col-lg-6">
  <div class="department-card "> 
    <div class="  pricing-col ">
      <div class="card">
        <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->
       
        <div class="card-header ">
          <h3>COMPUTER DEPARTMENT</h3>
        </div>
        <div class="card-body">
          <div class="card-deck text-center">
            <div class="row">
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>SECOND YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>
                        <form action="/resources" method="POST">
                            <div class="dropdown-menu">
                                <button type="submit" class="dropdown-item" name="subject" value="DSA">DSA</button>
                                <div type="submit" class="dropdown-divider"></div>
                                <button type="submit" class="dropdown-item" name="subject" value="EG">EG</button>
                                <div type="submit" class="dropdown-divider"></div>
                                <button type="submit" class="dropdown-item" name="subject" value="CN">CN</button>
                                
                                </div>
                        </form>
                    
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                        <form action="/profile" method="POST">
                          <a class="dropdown-item" href="">Subject-0</a>
                      <button  class="dropdown-item" name="subject-1" type="submit">subject-1</button>
                      <button  class="dropdown-item" name="subject-2" type="submit">subject-2</button>
                      <button  class="dropdown-item" name="subject-3" type="submit">subject-3</button>
                      <button  class="dropdown-item" name="subject-4" type="submit">subject-4</button>
                      <button  class="dropdown-item" name="subject-5" type="submit">subject-5</button>
                    </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>THIRD YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
              <div class="col-lg-12">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>FINAL YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="department-card "> 
    <div class="  pricing-col ">
      <div class="card">
        <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->
       
        <div class="card-header ">
          <h3>IT DEPARTMENT</h3>
        </div>
        <div class="card-body">
          <div class="card-deck text-center">
            <div class="row">
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>SECOND YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>THIRD YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
              <div class="col-lg-12">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>FINAL YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row ">
  <div class="col-lg-6">
  <div class="department-card "> 
    <div class="  pricing-col ">
      <div class="card">
        <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->
       
        <div class="card-header ">
          <h3>CIVIL DEPARTMENT</h3>
        </div>
        <div class="card-body">
          <div class="card-deck text-center">
            <div class="row">
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>SECOND YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>THIRD YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
              <div class="col-lg-12">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>FINAL YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="department-card "> 
    <div class="  pricing-col ">
      <div class="card">
        <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->
       
        <div class="card-header ">
          <h3>E&TC DEPARTMENT</h3>
        </div>
        <div class="card-body">
          <div class="card-deck text-center">
            <div class="row">
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>SECOND YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>THIRD YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
              <div class="col-lg-12">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>FINAL YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row ">
  <div class="col-lg-6">
  <div class="department-card "> 
    <div class="  pricing-col ">
      <div class="card">
        <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->
       
        <div class="card-header ">
          <h3>AUTOMOBILE DEPARTMENT</h3>
        </div>
        <div class="card-body">
          <div class="card-deck text-center">
            <div class="row">
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>SECOND YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>THIRD YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
              <div class="col-lg-12">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>FINAL YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="department-card "> 
    <div class="  pricing-col ">
      <div class="card">
        <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->
       
        <div class="card-header ">
          <h3>MECHANICAL DEPARTMENT</h3>
        </div>
        <div class="card-body">
          <div class="card-deck text-center">
            <div class="row">
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>SECOND YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>THIRD YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
              <div class="col-lg-12">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>FINAL YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                    <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SEM-1</button>

                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                    <!-- Basic dropdown -->
                  
                    </div>
                    <div class="btn-group drop-down-button">
                      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">SEM-2</button>

                      <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>




<%- include("footer")-%>