<%- include("header")-%>

<h2>We Develope your Imaginations.</h2>
<p>All the materials you want are right here.</p>

<section class="white section white-section">
  <div class="row flex-container">
    <div class="mx-auto">
      <div class="card">
        <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->
        <div class="card-header">
          <h3>FIRST YEAR</h3>
        </div>
        <div class="card-body">
          <div class="card-deck text-center">
            <div class="row">
              <div class="mx-auto">
                <div class="card year-card">
                  <div class="card-header">
                    <h3>FIRST YEAR</h3>
                  </div>
                  <div class="card-body">
                    <div class="btn-group drop-down-button">
                      <!-- Basic dropdown -->
                      <button
                        class="btn btn-primary dropdown-toggle mr-4"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        SEM-I&II
                      </button>
                      <form action="/resources" method="POST">
                        <div id="fe" class="dropdown-menu"></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-container">
    <div class="flex-container">
      <div class="department-card">
        <div class="pricing-col">
          <div class="card">
            <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->

            <div class="card-header">
              <h3>COMPUTER DEPARTMENT</h3>
            </div>
            <div class="card-body">
              <div>
                <div class="card-deck text-center">
                  <div class="row flex-container">
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>SECOND YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="compSe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>THIRD YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="compTe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>FINAL YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="compBe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-container">
    <div class="flex-container">
      <div class="department-card">
        <div class="pricing-col">
          <div class="card">
            <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->

            <div class="card-header">
              <h3>IT DEPARTMENT</h3>
            </div>
            <div class="card-body">
              <div>
                <div class="card-deck text-center">
                  <div class="row flex-container">
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>SECOND YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="itSe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>THIRD YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="itTe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>FINAL YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="itBe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-container">
    <div class="flex-container">
      <div class="department-card">
        <div class="pricing-col">
          <div class="card">
            <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->

            <div class="card-header">
              <h3>E&TC DEPARTMENT</h3>
            </div>
            <div class="card-body">
              <div>
                <div class="card-deck text-center">
                  <div class="row flex-container">
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>SECOND YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="etcSe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>THIRD YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="etcTe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>FINAL YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="etcBe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-container">
    <div class="flex-container">
      <div class="department-card">
        <div class="pricing-col">
          <div class="card">
            <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->

            <div class="card-header">
              <h3>CIVIL DEPARTMENT</h3>
            </div>
            <div class="card-body">
              <div>
                <div class="card-deck text-center">
                  <div class="row flex-container">
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>SECOND YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="civilSe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>THIRD YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="civilTe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>FINAL YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="civilBe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-container">
    <div class="flex-container">
      <div class="department-card">
        <div class="pricing-col">
          <div class="card">
            <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->

            <div class="card-header">
              <h3>MECHANICAL DEPARTMENT</h3>
            </div>
            <div class="card-body">
              <div>
                <div class="card-deck text-center">
                  <div class="row flex-container">
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>SECOND YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="mechSe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>THIRD YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="mechTe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>FINAL YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="mechBe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-container">
    <div class="flex-container">
      <div class="department-card">
        <div class="pricing-col">
          <div class="card">
            <!-- <img src="images/first.jpg" class="card-img-top" alt="img-pic" height="300px" width="100px"> -->

            <div class="card-header">
              <h3>AUTOMOBILE DEPARTMENT</h3>
            </div>
            <div class="card-body">
              <div>
                <div class="card-deck text-center">
                  <div class="row flex-container">
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>SECOND YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="autoSe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>THIRD YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="autoTe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="card year-card">
                        <div class="card-header">
                          <h3>FINAL YEAR</h3>
                        </div>
                        <div class="card-body">
                          <div class="btn-group drop-down-button">
                            <!-- Basic dropdown -->
                            <button
                              class="btn btn-primary dropdown-toggle mr-4"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              SEM-I&II
                            </button>
                            <form action="/resources" method="POST">
                              <div id="autoBe" class="dropdown-menu"></div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/resource.js" charset="utf-8"></script>

<%- include("footer")-%>
