<%-include("header")-%>

<form action="/store" method="POST" enctype="multipart/form-data">

    <div class="white-section container-fluid upload-form">
        <div >
            <h2 class="big-heading">Submit Your Material Here!</h2>
        </div>
       
        <div class="row upload-form-row">
            <div class="col-lg-4">
               <h3>Subject:</h3>
            </div>
            <div class="col-lg-4 selector-item">
                <select id="subjectMenu" name="subject" class="selectpicker btn-block btn-light" data-live-search="true" title="default">
                    <option value="FIRST YEAR" data-tokens="first">FIRST YEAR</option>
                  </select>
        </div>
            <div class="col-lg-4">

            </div>
        </div>
        <div class="row upload-form-row">
            <div class="col-lg-4">
               <h3>Unit:</h3>
            </div>
            <div class="col-lg-4 selector-item">
                <select name="unit" class="selectpicker btn-block btn-light" data-style="btn-info" data-live-search="true" title="default">
                    <option value="1" data-tokens="1">1</option>
                    <option value="2" data-tokens="2">2</option>
                    <option value="3" data-tokens="3">3</option>
                    <option value="4" data-tokens="4">4</option>
                    <option value="5" data-tokens="5">5</option>
                    <option value="6" data-tokens="6">6</option>
                  </select>
        </div>
            <div class="col-lg-4">

            </div>
        </div>
        <div class="row upload-form-row">
            <div class="col-lg-4">
               <h3>File Name:</h3>
            </div>
            <div class="col-lg-4">
                <input id="text" class=" btn-block btn-light" type="text" name="displayName"  placeholder="Add name to your file" >
            </div>
        </div>
        <div class="row upload-form-row">
            <div class="col-lg-4">
               <h3>File:</h3>
            </div>
            <div class="col-lg-4  ">
          <div class="custom-file mb-3">
            <input id="file" class="custom-file-input" type="file" name="file" aria-describedby="inputGroupFileAddon01" >
                <label for="file" class="custom-file-label">Choose File</label>
          </div>
            </div>
        </div>
        <button class="btn btn-danger my-4" type="submit">SUBMIT</button>
    </div>
    
</form>


<%-include("footer")-%>
