@media screen and (min-width: 991px) {



    /* Top Heading Section */

    .big-heading{
        font-size: 4rem;
    }

    .header-button{
        font-size: 2.8rem;
        border-top-left-radius:10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 2%;
    }

    /* We Speak Section  */

    .secondbig-heading{
        font-size: 5rem;
    }

    p {
        font-size: 1.8rem;
    }

   
    
    #ourteam-carousel h4 {
        font-size: 2.5rem;
    }

    .welearn-button {
        font-size: 2.3rem;
        border-top-left-radius:10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 2%;
    }

    .store-section {
        background-color: white;
    }

    /* .btn {
        font-size: 1.5rem;
    } */

    .dropdown-item {
        font-size: 1.8rem;
    }
    .btn-social {
        font-size: 1.5rem;
        margin: 20px 0;
    }
    .register-login-heading {
        font-size: 3.5rem;
    }

    .fa-book {
        padding-top: 8%;
    }


     /* Profile */

     .logout-btn {
         font-size: 20px;
         border-top-left-radius:10px;
         border-bottom-left-radius: 10px;
         border-top-right-radius: 10px;
         border-bottom-right-radius: 10px;
         margin-top: 2%;
     }

     .text-secondary9{
         font-size: 1.5rem !important;

     }
     .btn-primary {
         font-size: 1.5rem;
     }

     
      
      
      
     
}

