

.container-fluid {
    /* text-align: left; */
    padding: 3% 12% 7%;
}

.colored-section {
    background: linear-gradient(0.375turn, #041c82, #00122b, #440784);
    /* background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%); */
    color: #fff;
    text-align: center;
}

.white-section {
    padding: 5% 15%;
    text-align: center;
    color: black;
}

.title-image {
    width: 100%;
}

.title-heading {
    text-align: left;
    font-size: 2rem;
    padding-top: 5%;
}


.card {
    border-top-left-radius:30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

.view{
    height: 100vh;
}

.fa-book{
    padding-top: 8%;
}



     /* Profile */

     .logout-btn {
        font-size: 20px;
        border-top-left-radius:10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 2%;
    }

    .text-secondary{
        font-size: 1.5rem !important;

    }
    .btn-primary {
        font-size: 1.5rem;
    }
    .note {
        color: red;
    }


    /* store  */
     h5 {
         font-size: 1.8rem;
         line-height: 3.5rem;
     }