.container-fluid {
    /* text-align: left; */
    padding: 3% 12% 7%;
}

.colored-section {
    background: linear-gradient(0.375turn, #041c82, #00122b, #440784);
    /* background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%); */
    color: #fff;
}

.white-section {
    padding: 5% 15%;
    text-align: center;
    color: black;
}

.title-image {
    width: 100%;
}

.title-heading {
    text-align: left;
    font-size: 2rem;
    padding-top: 5%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container>div {
    margin: 10px;
    /* padding: 20px; */

    align-items: center;
}

.card {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.view {
    height: 100vh;
}
