@media (max-width: 992px) {

   
    .title-heading {
        text-align: center;
        font-size: 3.5rem;
    }

    .title-image {
        padding-top: 8rem;
        width: 70%;
    }

    .ourroles-image {
        width: 100%;
        margin-top: 40%;
        /* height: 50%; */
    }

    .big-heading {
        font-size: 6.5rem;
    }

    .secondbig-heading {
        font-size: 5.5rem;
    }

    p {
        font-size: 2.8rem;
    }

    h3,h2 {
        font-size: 4rem;
    }

    .navbar-toggler-icon {
        width: 6rem;
        height: 6rem;
    }

    .header-button{
        font-size: 2.8rem;
        border-top-left-radius:10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 2%;
    }

    .navbar-brand {
        font-size: 6.3rem;
    }

    .navbar-nav {
        font-size: 3rem;
        text-align: left;
    }

    .welearn-section {
        text-align: center;
    }

    .container-fluid {
        padding: 3% 5% 7%;
    }

    .welearn-image {
        width: 70%;
        padding-top: 5rem;
    }

    .secondbig-heading {
        text-align: center;
    }

    .ourroles-image {
        width: 100%;
        margin-top: 30%;
        height: 50%;
    }

    .colored-section {
        font-size: 150%;
    }

    .white-section {
        font-size: 150%;
    }

    .btn {
        font-size: 150%;
    }

    .resource-btn{
        font-size: 8rem;
    }

    #ourteam-carousel img {
        width: 70%;
    }


    h4 {
        font-size: 2.8rem;
    }
    #ourteam-carousel h4 {
        font-size: 2.8rem;
    }

    .welearn-button {
        font-size: 4.8rem;
        border-top-left-radius:10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 2%;
    }

    .btn {
        font-size: 3rem;
    }
    .btn-social {
        font-size: 3rem;
        margin: 20px 0;
    }
    .dropdown-item {
        font-size: 2.8rem;
    }
    
    .register-login-heading {
        font-size: 5.5rem;
    }

    .card {
        margin: 10% 8%;
    } 

    .unit-cards {
        margin: auto;
        margin-top: 8%;
        width: 100%;
        
    }

    .card-title {
        font-size: 3.5rem;
    }

    .header-button{
        font-size: 5rem;
        border-top-left-radius:10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 2%;
    }
   
}
