@media (max-width: 992px) {

   
    .title-heading {
        text-align: center;
        font-size: 3.5rem;
    }

    .title-image {
        padding-top: 8rem;
        width: 70%;
    }

    .ourroles-image {
        width: 100%;
        margin-top: 40%;
        /* height: 50%; */
    }

    .big-heading {
        font-size: 3.5rem;
    }

    .secondbig-heading {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.8rem;
    }

    h3,h2 {
        font-size: 2rem;
    }

    .navbar-toggler-icon {
        width: 3rem;
        height: 3rem;
    }

    .header-button {
        font-size: 3rem !important;
        border-top-left-radius:10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 2%;
    }

    .navbar-brand {
        font-size: 3rem;
    }

    .navbar-nav {
        font-size: 3rem;
        text-align: left;
    }

    .white-section {
        padding: 5% 5%;
    }

    /* We Speak */

    .language-item i {
        font-size: 10rem !important;
    }

    .welearn-section {
        text-align: center;
    }


    .container-fluid {
        padding: 3% 5% 7%;
    }

    .welearn-image {
        width: 70%;
        padding-top: 5rem;
    }

    .secondbig-heading {
        text-align: center;
        
    }

    .ourroles-image {
        width: 100%;
        margin-top: 30%;
        height: 50%;
    }

    .colored-section {
        font-size: 150%;
    }

    .white-section {
        font-size: 150%;
    }

    .btn {
        font-size: 150%;
    }

    .resource-btn{
        font-size: 8rem;
    }

    #ourteam-carousel img {
        width: 70%;
    }


    h4 {
        font-size: 2.8rem;
    }
    #ourteam-carousel h4 {
        font-size: 2.8rem;
    }

    .welearn-button {
        font-size: 4.8rem;
        border-top-left-radius:10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 2%;
    }

    .btn {
        font-size: 3rem;
    }
    .btn-social {
        font-size: 2.2rem;
        margin: 20px 0;
        /* padding: 5% 3%; */
    }
    .dropdown-item {
        font-size: 2.2rem;
    }
    
    .register-login-heading {
        font-size: 4.5rem;
    }

    .card {
        margin: 10% 0;
    } 

    .card-body {
        padding: 1.25rem 0;
    }
    .unit-cards {
        margin: auto;
        margin-top: 8%;
        width: 100%;
        
    }

    .card-title {
        font-size: 3.5rem;
    }

    .header-button{
        font-size: 5rem;
        border-top-left-radius:10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 2%;
    }
   

    /* OUR ROLE */

    #ourroles p {
        font-size: 1.2rem;
    }


    /* OUR TEAM */

    .ourteam-item {
        font-size: 2rem;
    }
    #ourteam-carousel img {
        width: 40% !important;
    }
    #ourteam img {
        width: 50%;
    }

    .btn-primary {
        font-size: 2rem;
        border-top-left-radius:5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }


    
    #ourteam-carousel h4 h3 {
        font-size: 2rem;
    }
     
    #ourteam-carousel h3 {
        font-size: 2rem !important;
    }
    h6 {
        font-size: 2.5rem;
    }
    #material-card {
        margin: 5% 0;
    }

    .row {
        margin-left: 0;
    }
}
