.navbar {
    padding: 0 0 4.5rem;
    background-color: transparent;
}

.navbar-brand {
    font-family: "Helvetica Neue";
    font-size: 4.5rem;
}

.nav-item {
    padding: 0 1.8rem;
    font-size: 1.8rem;
}
