.languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.languages .language-item {
    padding: 0.2em;
    margin: 0px 0.2em;
    flex: 0 0 33%;
}
