*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
}

/* NavBar */
.container-fluid {
  /* text-align: left; */
  padding: 3% 12% 7%;
}

/* .navbar-fixed {
  top: 0;
  left: auto;
  right: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  padding-bottom: 0;
  background-color: #060930;

} */
.navbar {
  padding: 0 0 4.5rem;
  background-color: transparent;
}

.navbar-brand {
  font-family: "Helvetica Neue";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.colored-section {
  background: linear-gradient(0.375turn, #041C82, #00122B, #440784);
  color: #fff;
  text-align: center;
}

.white-section {
  text-align: center;
  color: black;
}

.title-image {
  width: 100%;
}

.title-heading {
  text-align: left;
}

/* We Speak */
.secondbig-heading {
  font-size: 3.5rem;
  margin: 6%;
}

#wespeak .container-fluid {
  /* background: linear-gradient(0.375turn,#041C82, #00122B,#440784); */
  width: 100%;
  /* padding: 5% 12% 7%; */
}

.language-icons {
  width: 100%;
}

.language-item {
  font-size: 8rem;
  padding: 0;
}

.language-item :hover {
  color: blueviolet;
}

/* We Learn */
#welearn .container-fluid {
  background: linear-gradient(0.375turn, #00D7F4, #fff);
  text-align: left;
}

#welearn .secondbig-heading {
  margin-left: 0;
}

.welearn-image {
  width: 100%;
  padding-top: 100px;
}

/* Our Roles */
#ourroles {
  padding: 0;
}

.ourroles-image {
  width: 100%;
}

.ourrole-row {
  margin: 50px 0;
}

.ourrole-item-right {
  text-align: right;
  padding: 6% 0;
}

.ourrole-item-left {
  text-align: left;
  padding: 6% 0;
}

.carousel-item {
  width: 100%;
}

/* #ourteam {

} */
#ourteam-carousel img {
  width: 50%;
}

#ourteam-carousel h4 {
  font-size: 1.3rem;
}

#showdata {
  height: 60%;
  width: 100%;
}

.ourteam-container {
  /* background: linear-gradient(0.125turn,#00D7F4, #fff); */
  background-color: #00D7F4;
}

.fotter-item {
  text-align: left;
  padding-bottom: 2%;
  
}

hr {
  border-top: 1px solid #fff;
  height: 1.5rem;
}

.footer-icon {
  color: #fff;
  text-align: center;
  padding: 2%;
  margin-bottom: 0%;
}



/* Profile  */

/* body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;    
} */
/* .main-body {
  padding: 15px;
} */
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  padding: 10px 10px ;
}
.year-card{
  margin: 10px;
}

.card img {
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.drop-down-button{
  margin: 15% auto;
}
.department-card{
  margin: 5% auto;
  width: 80%;
 
}

h3 {
  color: black;
  font-size: 1.5rem;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.8rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}
.pricing-col {
  padding: 0%;


}
.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}
.mb-0 {
  color: black;
}

/* Upload-form */

.upload-form {
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  
}
.upload-form-row{
  margin: 4%;
}

.custom-file-label{
 text-align: left; 
}

.selector-item {
  text-align: left;
}


/* Subject card */

.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}

.unit-card-deck {
  margin-top: 30px;
}

#material-card {
  width: 25%;
  display: inline-block;
  margin: 20px 20px ;
}
#material-card .card-title{
  color: #00122B;
}

.unit-cards {
  width: 35%;
  display: inline-block;
  margin: 20px auto ;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-container > div {
  
  margin: 10px;
  /* padding: 20px; */
  
  align-items: center;
}

.custom-card {
  width: 100%;
}
.mx-auto{
  width: 70%;
  
}


.custom-card .card{
  align-items: center;
}
.card-header{
  align-items: stretch;
}
.custom-card .row{
  align-items: center;
  width: 600px;
}

.notFoundImage{
  width: 100%;
}


@media (max-width:992px) {
  html {
    font-size: 100%;
  }
  .ourroles-image {
    width: 100%;
    margin-top: 40%;
    /* height: 50%; */
  }
}