/* NavBar */
.container-fluid {
  /* text-align: left; */
  padding: 3% 12% 7%;
}

.navbar {
  padding: 0 0 4.5rem;
  background-color: transparent;
}

.navbar-brand {
  font-family: "Helvetica Neue";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 1.8rem;
}

.colored-section {
  background: linear-gradient(0.375turn, #041c82, #00122b, #440784);
  /* background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%); */
  color: #fff;
  text-align: center;
}

.white-section {
  padding: 5% 15%;
  text-align: center;
  color: black;
}

.title-image {
  width: 100%;
}

.title-heading {
  text-align: left;
}

/* We Speak */
.secondbig-heading {
  font-size: 3.5rem;
  margin: 6%;
}

#wespeak .container-fluid {
  /* background: linear-gradient(0.375turn,#041C82, #00122B,#440784); */
  width: 100%;
  /* padding: 5% 12% 7%; */
}

/* We Learn */
#welearn .container-fluid {
  /* background: linear-gradient(0.375turn, #00D7F4, #fff); */
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  text-align: left;
}

#welearn .secondbig-heading {
  margin-left: 0;
}

.welearn-image {
  width: 100%;
  padding-top: 10rem;
}

/* Our Roles */
#ourroles {
  padding: 0;
}

.ourroles-image {
  width: 100%;
}

.ourrole-row {
  margin: 5rem 0;
}

.ourrole-item-right {
  text-align: right;
  padding: 6% 0;
}

.ourrole-item-left {
  text-align: left;
  padding: 6% 0;
}

.carousel-item {
  width: 100%;
}

/* #ourteam {

} */

#ourteam-carousel img {
  width: 50%;
}

#ourteam-carousel h4 {
  font-size: 1.3rem;
}

.ourteam-container {
  /* background: linear-gradient(0.125turn,#00D7F4, #fff); */
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  /* background-color: #00D7F4; */
}

.fotter-item {
  text-align: left;
  padding-bottom: 2%;
}

hr {
  border-top: 0.1rem solid #fff;
  height: 1.5rem;
}

.footer-icon {
  color: #fff;
  text-align: center;
  padding: 2%;
  margin-bottom: 0%;
}

/* Header responsive */
@media (max-width: 992px) {
  body {
    font-size: 150%;
  }

  @media (max-width: 768px) {
    html {
      font-size: 45%;
    }
  }

  .title-heading {
    text-align: center;
  }

  .title-image {
    padding-top: 8rem;
    width: 70%;
  }

  .big-heading {
    font-size: 4.5rem;
  }

  .secondbig-heading {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .navbar-toggler-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .navbar-brand {
    font-size: 5rem;
  }

  .navbar-nav {
    font-size: 3rem;
    text-align: left;
  }

  .welearn-section {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .container-fluid {
    padding: 3% 5% 7%;
  }

  .welearn-image {
    width: 70%;
    padding-top: 5rem;
  }

  .secondbig-heading {
    text-align: center;
  }

  .ourroles-image {
    width: 100%;
    margin-top: 30%;
    height: 50%;
  }

  .colored-section {
    font-size: 150%;
  }

  .white-section {
    font-size: 150%;
  }

  .btn {
    font-size: 150%;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  margin: 10px;
  /* padding: 20px; */

  align-items: center;
}

.custom-card {
  width: 100%;
}

.mx-auto {
  width: 70%;
}

.custom-card .card {
  align-items: center;
}

.card-header {
  align-items: stretch;
}

.custom-card .row {
  align-items: center;
  width: 600px;
}

.notFoundImage {
  width: 100%;
}

@media (max-width: 992px) {
  html {
    font-size: 100%;
  }

  .ourroles-image {
    width: 100%;
    margin-top: 40%;
    /* height: 50%; */
  }
}
